.pageTitle{
    padding: calc(var(--section-padding-top)) 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--secondary-text-color);
}

.pageTitle h1{
    font-size: 5rem;
    text-align: center;
}

/* MOBILE STYLES */
@media only screen and (max-width: 649px){

    .pageTitle h1{
        font-size: 3.5rem;
    }    
}